<span>
<b>Authors:</b> 
<a href="http://------">Ornela Danushi </a>
<a href="http://------">Gerlando Gramaglia </a>
<a href="http://------">Domenico Profumo </a><br/>
<b>Python version:</b>  3.x<br/>
</span>

## Data integration
in this notebook we load and create our dataset that we'll use for the rest of the project

In [1]:
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None

Read the .csv file containing the data. The first line contains the list of attributes. The data is assigned to a Pandas dataframe.

In [2]:
df = pd.read_csv('dataset/tennis_matches.csv', index_col = 0)

Load another table containing the name and surname of male and female people. Eliminate duplicates and concatenate Female and Male tables in a unique table called table_gender

In [3]:
df_male = pd.read_csv('dataset/male_players.csv')
df_male.dropna(inplace=True)
df_male_names = pd.DataFrame()
df_male_names['Name'] = df_male['name'].astype(str) + " " + df_male['surname'].astype(str)
df_male_names.drop_duplicates(inplace=True)
df_male_names.insert(1, 'gender', 'M', allow_duplicates=True)

df_female = pd.read_csv('dataset/female_players.csv')
df_female.dropna(inplace=True)
df_female_names = pd.DataFrame()
df_female_names['Name'] = df_female['name'].astype(str) + " " + df_female['surname'].astype(str)
df_female_names.drop_duplicates(inplace=True)
df_female_names.insert(1, 'gender', 'F', allow_duplicates=True)

result = pd.concat([df_male_names, df_female_names]) #we create a new table to have the global view


duplicateDFRow = result[result.duplicated(['Name'], keep=False)]
duplicateDFRow.drop_duplicates(subset=['Name'], inplace=True)
duplicateDFRow['gender'].replace({"M": 'U'},inplace=True)

table_gender = pd.concat([result, duplicateDFRow]) 
table_gender.drop_duplicates(subset=['Name'], keep='last', inplace=True)

Join the matches' table with the table_gender and mark nan gender with label 'U'

In [4]:
matches = df
matches = matches.join(table_gender.set_index('Name'), on='winner_name')
matches.rename(columns={'gender': 'winner_gender'}, inplace = True)
matches = matches.join(table_gender.set_index('Name'), on='loser_name')
matches.rename(columns={'gender': 'loser_gender'}, inplace = True)

In [5]:
matches.winner_gender.fillna('U', inplace = True)
matches.loser_gender.fillna('U', inplace = True)

Write on CSV file

In [6]:
matches.to_csv('dataset/matches_with_gender.csv')
print(matches.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 186128 entries, 0 to 186127
Data columns (total 51 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   tourney_id          186073 non-null  object
 1   tourney_name        186103 non-null  object
 2   surface             185940 non-null  object
 3   draw_size           186099 non-null  float64
 4   tourney_level       186099 non-null  object
 5   tourney_date        186100 non-null  float64
 6   match_num           186101 non-null  float64
 7   winner_id           186073 non-null  float64
 8   winner_entry        25827 non-null   object
 9   winner_name         186101 non-null  object
 10  winner_hand         186082 non-null  object
 11  winner_ht           49341 non-null   float64
 12  winner_ioc          186099 non-null  object
 13  winner_age          183275 non-null  float64
 14  loser_id            186100 non-null  float64
 15  loser_entry         44154 non-null   object
 16  loser_name          186097 non-null  object
 17  loser_hand          186030 non-null  object
 18  loser_ht            38348 non-null   float64
 19  loser_ioc           186102 non-null  object
 20  loser_age           179590 non-null  float64
 21  score               185929 non-null  object
 22  best_of             186099 non-null  float64
 23  round               186098 non-null  object
 24  minutes             81660 non-null   float64
 25  w_ace               82310 non-null   float64
 26  w_df                82312 non-null   float64
 27  w_svpt              82310 non-null   float64
 28  w_1stIn             82310 non-null   float64
 29  w_1stWon            82312 non-null   float64
 30  w_2ndWon            82309 non-null   float64
 31  w_SvGms             82311 non-null   float64
 32  w_bpSaved           82315 non-null   float64
 33  w_bpFaced           82312 non-null   float64
 34  l_ace               82313 non-null   float64
 35  l_df                82319 non-null   float64
 36  l_svpt              82315 non-null   float64
 37  l_1stIn             82304 non-null   float64
 38  l_1stWon            82311 non-null   float64
 39  l_2ndWon            82312 non-null   float64
 40  l_SvGms             82318 non-null   float64
 41  l_bpSaved           82311 non-null   float64
 42  l_bpFaced           82306 non-null   float64
 43  winner_rank         166719 non-null  float64
 44  winner_rank_points  166701 non-null  float64
 45  loser_rank          150845 non-null  float64
 46  loser_rank_points   150828 non-null  float64
 47  tourney_spectators  186101 non-null  float64
 48  tourney_revenue     186102 non-null  float64
 49  winner_gender       186128 non-null  object
 50  loser_gender        186128 non-null  object
dtypes: float64(35), object(16)
memory usage: 73.8+ MB
None